.page__header {
    background-color: #26a9e0;
    width: 100%;
    display: flex;
    align-items: center;
}

.page__header-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.page__main {
    max-width: 1200px;
    margin: 0 auto;
}